<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Province</title>
</head>
<body>

<h2>Create Province</h2>

<p><a href="/province">List Province</a> </p>

<form th:action="@{/create-province}" th:object="${province}" method="post">
    <tr>
        <td>Name Province</td>
        <td><input type="text" th:field="${province.nameProvince}"></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Create Province"></td>
    </tr>
</form>

</body>
</html>