<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customer</title>
</head>
<body>
<h3>List Customer</h3>

<div>
    <a th:href="@{'/customer'(page=${customer.number -1})}" th:if="${customer.hasPrevious()}">Previous</a>
    <span th:text="${customer.number+1}"></span>/<span th:text="${customer.totalPages}"></span>
    <a th:href="@{'/customer'(page=${customer.number +1})}" th:if="${customer.hasNext()}">Next</a>
</div>

<p><a href="/create-customer">Add new Customer</a> </p>

<form>
    Search by first name:
    <input name="s" type="text">
    <input type="submit" value="Search">
</form><br>

<table border="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Province</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="c:${customer}">
        <tr>
            <td th:text="${c.firstName}"></td>
            <td th:text="${c.lastName}"></td>
            <td th:text="${c.province.nameProvince}"></td>
            <td><a th:href="@{/edit-customer/__${c.getId()}__}">Edit</a> </td>
            <td><a th:href="@{/delete-customer/__${c.getId()}__}">Delete</a> </td>
        </tr>
    </th:block>


</table>

</body>
</html>