<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
</head>
<body>

<h3>Edit Blog</h3>

<p><a href="/blog">List Blog</a> </p>

<form th:action="@{/edit-blog}" th:object="${blog}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
    <tr>
        <td>Title Blog</td>
        <td><input type="text" th:field="*{title}"></td>
    </tr>
    <tr>
        <td>Content Blog</td>
        <td><input type="text" th:field="*{content}" ></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Edit Blog"></td>
    </tr>
</form>

</body>
</html>