<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>

<h2>Edit Customer</h2>

<p><a href="/customer">List Customer</a> </p>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form th:action="@{/edit-customer}" th:object="${customer}" method="post">
    <input th:field="*{id}" name="id" th:type="hidden">
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" th:field="*{lastName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Edit Customer"></td>
        </tr>

    </table>
</form>

</body>
</html>